/* COLORS
    #f50542: red/magenta
    #ffde59: yellow
    #4472a8: blue 
    white, black
*/

:root {
    --primary1: #ef3c23;
    --primary2: #fac92c;
    --primary3: #2178ae;
    --secondary1: #f7b0be;
    --secondary2: #ed8e83;
    --secondary3: #f15a42;
    --secondary4: #cfe5cc;
    --secondary5: #1b4793;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

div.social-icons {
    display: flex;
    justify-content: center;
}

div.social-icons i {
    margin: 5px;
}

i.fa-brands {
    font-size: 30px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
}

nav.navbar ul.menu {
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

nav.navbar ul.menu a {
    padding: 0 8px 2px 8px;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 300;
}

nav.navbar ul.menu a:active{
    color: green;
    border-radius: 5px;
    background-color: var(--secondary4);
}


.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

div.flex img.homepage-image {
    width: 80%;
    height: auto;
    border-radius: 30px;
    margin: 1rem 0;
}

header img {
    width: 150px;
    margin-bottom: 0.5rem;
}


.homepage-text {
    padding: 1rem;
}

.homepage-text h1, .hompepage-text p {
    font-family: 'Poppins', sans-serif;
}

.homepage-text h1 {
    font-variant: small-caps;
    color: var(--primary3);
    font-size: 3em;
    font-weight: 700;
}

.homepage-text h2 {
    font-family: 'Rozha One', serif;
    font-size: 1.3em;
    margin: 0.5 0;
}

.homepage-text p {
    margin-top: italic;
    font-family: 'Poppins', sans-serif;
}

.italic {
    font-style: italic;
}

.page-wrapper {
    position: relative;
}


.yellow-circle-pink-triangle {
    position: absolute;
    z-index: 0;
    top: 1%;
    pointer-events: none;
}

.yellow-circle-pink-triangle img.yellow-circle-pink-triangle-home {
    width: 40%;
    z-index: -1;
}

.red-propeller {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 55%;
    z-index: 0;
    pointer-events: none;
}

.red-propeller img.red-propeller-home {
    width: 30%;
    transform: rotate(45deg);
}

.blue-circle-green-ring {
    position: absolute;
    z-index: 0;
    top:90%;
    pointer-events: none;
}

.blue-circle-green-ring img.blue-circle-green-ring-home {
    width: 40%;
}

footer {
    margin: 1rem;
}

.flex section.homepage-text, header, footer {
    position: relative;
    z-index: 1;
}

/*FOR LARGER SCREENS*/
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    nav.navbar ul.menu {
        flex-direction: row;
    }

    nav.navbar ul.menu a {
        font-size: 22px;
        margin: 2px;
    }

    nav.navbar ul.menu a:hover {
        color: green;
        border-radius: 5px;
        background-color: var(--secondary4);
    }

    nav.navbar ul.menu a:active {
        color: var(--secondary4);
        border-radius: 5px;
        background-color: green;
    }

    .flex {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 2rem;
    }

    .flex img.homepage-image {
        max-width: 50%;
        margin: 2rem 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .homepage-text {
        padding: 0 2rem;
        max-width: 50%;
    }

    .homepage-text h1 {
        font-size: 3em;
    }

    .homepage-text h2 {
        font-size: 2em;
    }

    .yellow-circle-pink-triangle {
        top: 13%;
    }

    .yellow-circle-pink-triangle img.yellow-circle-pink-triangle-home {
        width: 50%;
    }

    .green-circle-green-curl {
        left: 20%;
        bottom: 75%;
    }

    .green-circle-green-curl img.green-circle-green-curl-home {
        width: 50%;
    }

    .blue-circle-green-ring {
        left: 80%;
        top: 80%;
    }

    .blue-circle-green-ring img.blue-circle-green-ring-home {
        width: 400px;
    }
}

    @media (min-width: 1024px) {
        nav.navbar ul.menu a {
            font-size: 25px;
        }
    }