/* COLORS
    #f50542: red/magenta
    #ffde59: yellow
    #4472a8: blue 
    white, black
*/

:root {
    --primary1: #ef3c23;
    --primary2: #fed000;
    --primary3: #00479a;
    --primary4: #fe93bf;
    
}

.primary1 {
    color: var(--primary1);
}

.primary2 {
    color: var(--primary2);
}

.primary3 {
    color: var(--primary3);
}

.primary4 {
    color: var(--primary4);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    background-color: white;
}

div.social-icons {
    display: flex;
    justify-content: center;
}

div.social-icons i {
    margin: 5px;
}

i.fa-brands {
    font-size: 30px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
}

nav.navbar ul.menu {
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

nav.navbar ul.menu a {
    padding: 0 8px 2px 8px;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-variant: small-caps;
    font-weight: 400;
}

nav.navbar ul.menu a:active {
    border-radius: 5px;
    font-weight: 700;
}

nav.navbar ul.menu a.hover-primary1:active {
    color: var(--primary1);
    background-color: #ef3b2369;
}

nav.navbar ul.menu a.hover-primary2:active {
    color: var(--primary2);
    background-color: #faca2c69;
}

nav.navbar ul.menu a.hover-primary3:active {
    color: var(--primary3);
    background-color: #00479a69;
}

nav.navbar ul.menu a.hover-primary4:active {
    color: var(--primary4);
    background-color: #fe93bf69;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

div.flex img.homepage-image {
    width: 80%;
    height: auto;
    border-radius: 30px;
    margin: 1rem 0;
}

header img {
    width: 150px;
    margin-bottom: 0.5rem;
}


.homepage-text {
    padding: 1rem;
}

 h1 {
    font-family: 'Caprasimo', serif;
    color: black;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}

.homepage-text h2 {
    font-family: 'Rozha One', serif;
    font-size: 1.3em;
}

.homepage-text p {
    margin-top: italic;
    font-family: 'Poppins', sans-serif;
}

.italic {
    font-style: italic;
}

.page-wrapper {
    position: relative;
}

footer {
    margin: 1rem;
}

.flex section.homepage-text, header, footer {
    position: relative;
    z-index: 1;
}


/*
.contact-image {
    text-align: center;
    border: solid 2px black;
}

.contact-image img {
    width: 80vw;
    border-radius: 30px;
    position: relative;
}

*/

h1.hero-contact, .contact-text {
    position: relative;
    z-index: 1;
}

.contact-text {
    text-align: center;
}

.contact-image {
    position: relative;
    z-index: 0;
    transform: translateY(-15vh);
}

.contact-image img {
    width: 100vw;
}

.listen img {
    width: 30vw;
    border-radius: 50%;
    margin: 0 auto;
}

/*FOR LARGER SCREENS*/
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    nav.navbar ul.menu {
        flex-direction: row;
    }

    nav.navbar ul.menu a:hover {
        border-radius: 5px;
        font-weight: 700;
    }

    nav.navbar ul.menu a.hover-primary1:hover{
        color: var(--primary1);
        background-color: #ef3b2369;
    }

    nav.navbar ul.menu a.hover-primary2:hover {
        color: var(--primary2);
        background-color: #faca2c69;
    }

    nav.navbar ul.menu a.hover-primary3:hover {
        color: var(--primary3);
        background-color: #00479a69;
    }

    nav.navbar ul.menu a.hover-primary4:hover {
        color: var(--primary4);
        background-color: #fe93bf69;
    }

    .flex {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 2rem;
    }

    .flex img.homepage-image {
        max-width: 50%;
        margin: 2rem 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .homepage-text {
        padding: 0 2rem;
        max-width: 50%;
    }

    h1 {
        font-size: 6em;
    }

    .homepage-text h2 {
        font-size: 2em;
    }

    div.flex {
        max-width: 1200px;
        margin: 0 auto;
        padding: 3rem;
    }

    .listen img {
        width: 12vw;
        display: block;
        margin: 0 auto;

    }
}

    @media (min-width: 1024px) {
        nav.navbar ul.menu a {
            font-size: 25px;
        }

    }